[tool.uv.workspace]
members = [
    "pyama-core",
    "pyama-qt",
    "pyama-acdc",
    "pyama-fastapi",
]

[tool.uv.sources]
pyama-core = { workspace = true }
pyama-qt = { workspace = true }

[dependency-groups]
dev = ["ty", "ruff", "pyinstaller", "ipykernel"]
